:root {
    /* colour scheme for the index*/
    --colour-primary: rgba(125, 188, 119, 0.65);;
    --colour-accent: rgba(23, 101, 54, 0.66);
    --colour-dark: rgba(117, 59, 6, 0.8);

    --colour-white: white;
    --colour-black: black;
    --colour-transparent: rgba(0, 0, 0, 0.3);

    /* font scheme for the index*/
    --ff-accent: 'Jomhuria', cursive;
    --ff-sans: 'Yanone Kaffeesatz', sans-serif;

    /* nav height */
    --nav-height: 5em;
    
    /* dimension params */
    --switch-width: 750px;
    --section-height-primary: 100vh;
    --section-height-reduced: 50vh;
    --section-height-strip: 10vh;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar {
    display: flex;
    gap: 2em;
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    left: 50%;
    transform: translateX(-50%);
    background: var(--colour-accent);
    opacity: 0.8;
    z-index: 999;
}

.home {
    flex: 1;
}

#logo {
    height: 120%;
    text-align: center;
    margin: 0 auto -2em 3em;
    border-radius: 50%;
}

.nav-group{
    flex: 5;
    justify-content: flex-end;
    margin-right: 5%;
}

.flex-group-list{
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.flex-text-item {
    margin: 0 1em 0 0;
}

.nav-item-link {
    font-family: var(--ff-accent);
    font-size: 2em;
    line-height: 1.6;
    text-decoration: none;
    color: #D5C42A;
}

.user-info {
    flex: 1;
    font-family: var(--ff-accent);
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-media {
    width: 100%;
    height: var(--section-height-strip);
    background: var(--colour-accent);
}

.social-media-icon > a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--colour-white);
}

footer {
    position: relative;
    background: var(--colour-black);
}

.footer-group-list {
    height: var(--section-height-strip);
    gap: 1rem;
}

.footer-item {
    font-family: var(--ff-accent);
    font-size: 1.5em;
    line-height: 1.6;
    text-decoration: none;
    color: var(--colour-white);
}