:root {
    /* colour scheme for the index*/
    --colour-primary: white;
    --colour-accent: lightgrey;
    --colour-dark: black;

    --colour-white: white;
    --colour-black: black;

    /* font scheme for the index*/
    --ff-accent: 'Jomhuria', cursive;
    --ff-sans: 'Yanone Kaffeesatz', sans-serif;

    /* nav height */
    --nav-height: 5em;
    
    /* dimension params */
    --max-width: 960px;
    --switch-width: 750px;
    --section-height-primary: 100vh;
    --section-height-reduced: 30vh;
    --section-height-strip: 10vh;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar {
    display: none
}

@media (min-width: 750px) {
    .navbar {
        display: flex;
        gap: 2em;
        position: fixed;
        width: min(80%, var(--max-width));
        height: var(--nav-height);
        left: 50%;
        transform: translateX(-50%);
        background: var(--colour-accent);
        z-index: 99;
    }

    .navbar> div:last-child {
        margin-right: 5%;
    }

    .home {
        flex: 1;
    }

    .logo {
        height: 120%;
        text-align: center;
        margin: 0 1em -2em 1em;
        border-radius: 50%;
    }

    .nav-group{
        flex: 5;
        justify-content: flex-end;
    }

    .flex-group-list{
        display: flex;
        list-style: none;
        margin-bottom: 0;
    }

    .flex-text-item {
        margin: 0 1em 0 0;
    }

    .nav-item-link {
        font-family: var(--ff-accent);
        font-size: 2em;
        line-height: 1.6;
        text-decoration: none;
    }

    .user-info {
        flex: 1;
        font-family: var(--ff-accent);
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.social-media {
    width: min(80%, var(--max-width));
    height: var(--section-height-strip);
    background: var(--colour-white);
}

.social-media-icon > a {
    font-size: 3rem;
    text-decoration: none;
}

.footer-group-list {
    height: var(--section-height-strip);
    background: var(--colour-black);
    gap: 1rem;
}

.footer-item-link {
    font-family: var(--ff-accent);
    font-size: 1.5em;
    line-height: 1.6;
    text-decoration: none;
}