section, main {
    position: relative;
}

main {
    --border-radius: 30px;
}

.arrow {
    --transform: rotate(45deg);
    position: absolute;
    border-color: var(--color-black);
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    transform: var(--transform);
    z-index: 99;
}

.background {
    width: min(80%, var(--max-width));
    background: url('https://wallpapercave.com/wp/wp4676582.jpg'), #FFFFFF;
    background-position: center center;
}

.window {
    width: 100%;
    background: rgba(0, 0, 0, 0.3)
}

.window-top {
    height: calc(var(--section-height-primary));
}

.window-bottom {
    height: calc(var(--section-height-reduced));
}

.next-section {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 30px;
    height: 30px;
}

.next-section-arrow {
    --animation-time: 1s;
    width: 20px;
    height: 20px;
    border-top: 0;
    border-left: 0;
}

#arrow1 {
    display: none;
    transform: var(--transform) translate(-20px, -20px);
}

@media(hover: hover) {
    @keyframes divein {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0.5;
            transform: var(--transform) translate(-15px, -15px);
        }

        50% {
            opacity: 1;
            transform: var(--transform) translate(-10px, -10px);
        }

        100% {
            transform: var(--transform) translate(0px, 0px);
        }
    }

    @keyframes diveout {
        0% {
            opacity: 1;
        }

        25% {
            opacity: 0.5;
            transform: var(--transform) translate(10px, 10px);
        }

        50% {
            opacity: 0;
            transform: var(--transform) translate(15px, 15px);
        }

        100% {
            transform: var(--transform) translate(20px, 20px);
        }
    }

    #arrow1{
        display: block;
        animation: divein var(--animation-time) ease-in-out infinite
    }

    #arrow2{
        animation: diveout var(--animation-time) ease-in-out infinite
    }
}

.app-section {
    height: var(--section-height-primary);
    background: var(--colour-accent);
    gap: 0.5em;
}

.app-component {
    height: 80%;
    margin-top: var(--nav-height);
}

.app-spacer {
    flex: 1;
}

.app-slider-wrapper {
    flex: 20;
    margin-left: 10%;
    position: relative;
    display: flex;
    align-items: center;
}

.app-slide-content {
    position: absolute;
    top: 0;
    right: 10%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transform: translateX(20%);
    transition: all 0.6s cubic-bezier(0, 0, 0.2, 0.8);
}

.app-slide-content.active {
    opacity: 1;
    transform: translateX(0);
}

.app-slide-content.leave {
    opacity: 0;
    transform: translateX(20%);
    transition: all 0.4s cubic-bezier(0, 0, 0.7, -0.1);
}

.app-slide-content img {
    display: block;
    width: 100%;
    border-radius: 0 0.5rem 0 0.5rem;
    box-shadow: -0.6rem 0.4rem 0 #5a5b3f, 0.2rem -0.2rem 0 #ccc;
}

.app-slide-nav {
    width: 20px;
    height: 20px;
}

.app-slide-nav-before {
    left: 5%;
    border-top: 0;
    border-right: 0;
}

.app-slide-nav-after {
    right: 5%;
    border-left: 0;
    border-bottom: 0;
}

.app-buttons {
    display: none;
}

.app-slide-content .name {
    position: absolute;
    bottom: -0.1rem;
    left: -0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    mix-blend-mode: overlay;
}

.card {
    background: var(--colour-white);
    height: 100%;
    border-radius: var(--border-radius);
    font-family: var(--ff-sans);
    font-size: 2em;
}

.card-description {
    border-radius: 0 var(--border-radius);
    box-shadow: -0.6em 0.5em 0 #5a5b3f, 0.3em -0.3em 0 #ccc;
}

.card-description > * {
    padding: 0 30px;
}

.card-description > h2 {
    padding-top: 30px;
}

@media (min-width: 750px) {
    .app-buttons {
        flex: 15;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 2rem;
    }
    
    .app-buttons .app-button {
        position: relative;
        cursor: pointer;
        transition: all 0.2s;
    }
    
    .app-buttons .app-button:hover {
        transform: scale(1.1);
    }
    
    .app-buttons .app-button img {
        display: block;
        object-fit: cover;
        border-radius: var(--border-radius) 0;
    }

    .card-app-icon {
        height: min(10vw, 15vh);
    }
    
    .app-icon-img {
        height: 100%;
        text-align: center;
        border-radius: var(--border-radius);
    }
}