.background {
    width: max(var(--switch-width), var(--max-width));
    background: url('https://wallpapercave.com/wp/wp4676582.jpg'), #FFFFFF;
    background-position: center center;
}

.window {
    width: 100%;
    background: rgba(0, 0, 0, 0.3)
}

.window-top {
    height: calc(var(--nav-height) + var(--section-height-primary));
}

.window-bottom {
    height: calc(var(--nav-height) + var(--section-height-reduced));
}

.app-section {
    height: var(--section-height-primary);
    background: var(--colour-accent);
}

.app-section {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5em;
}

.card {
    background: var(--colour-white);
    height: 80%;
    border-radius: 20px;
    font-family: var(--ff-sans);
    font-size: 2em;
}

.card-spacer {
    flex: 1;
}

.card-description {
    visibility: hidden;
    flex: 3;
    transition: visibility 300ms ease-in-out;
}

.card-app-icon {
    flex: 2;
}

.card-app-icon:hover ~ .card-description {
    visibility: initial;
}

.card:first-child {
    margin-right: 2%;
}