{% extends 'form_base.html' %}

{% block tagline %}Contact Us{% endblock %}

{% block formarea %}

<form class="form flex-horizontal" action="{{ url_for('.contact') }}" method="POST" name="contact_form" autocomplete="off">
    <div class="form-fields flex-horizontal">
        {{ form.hidden_tag() }}
        {{ form.name(placeholder="Name:") }}
        {{ form.email(placeholder="Email Address:") }}
        {{ form.message(placeholder="Message:") }}
    </div>
    {{ form.submit(class="button-primary") }}
</form>
{% endblock %}

{% block altlogin %}
{% endblock %}