.remember-field{
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5em;
}

.remember-field > input{
    flex: 0.1;
}

.forgot-field{
    justify-content: flex-end;
}

#forgot-password{
    color: var(--colour-accent);
    text-decoration: none;
}

@media (min-width: 700px) {
    #forgot-password:hover{
        color: var(--colour-dark);
        text-decoration: underline;
    }
}
