<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!--link rel="manifest" href="site.webmanifest"-->
  <!--link rel="apple-touch-icon" href="icon.png"-->
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <meta name="theme-color" content="#fafafa">
  {% block head %}{% endblock %}
</head>

<body>

  <!-- Add your site or application content here -->
  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>

  {% if current_user.is_authenticated %}
    <h4>{{ current_user.email }}</h4>
    <h4><a href="/logout">Logout</a></h4>
    <h5>Your details: {{ current_user.name }}, {{ current_user.active }}, {{ current_user.confirmed_at }}</h5>
  {% endif %}

  {% block body %}{% endblock %}
</body>

</html>