<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!--link rel="manifest" href="site.webmanifest"-->
  <!--link rel="apple-touch-icon" href="icon.png"-->
  <!-- Place favicon.ico in the root directory -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Yanone+Kaffeesatz:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <meta name="theme-color" content="#fafafa">
  {% block head %}{% endblock %}
</head>

<body>

  <!-- Add your site or application content here -->
  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  
  <nav class="navbar">
    <div class="home" id="home">
      <a href="/" class="logo" >
        <img class="logo" id="logo" src="https://picsum.photos/200">
      </a>
    </div>
    <button class="nav-toggle">
        <span class="hamburger"></span>
    </button>
    <div class="nav-group flex-horizontal">
      <ul class="nav-group-list flex-group-list">
        <li class="nav-item flex-text-item"><a class="nav-item-link">ABOUT</a></li>
        <li class="nav-item flex-text-item"><a class="nav-item-link">FAQ</a></li>
        <li class="nav-item flex-text-item"><a class="nav-item-link">CONTACT</a></li>
        {% if current_user.is_authenticated %}
        <li class="nav-item flex-text-item"><a href="/logout"class="nav-item-link">LOGOUT</a></li>
      </ul>
    </div>
    <div class="user-info" id="user-info">{{ current_user.email }}</div>
        {% else %}
          <li class="nav-item flex-text-item"><a href="/login" class="nav-item-link">LOGIN</a></li>
          <li class="nav-item flex-text-item"><a href="/register" class="nav-item-link">SIGNUP</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>
  

  {% block body %}{% endblock %}

  <section class="social-media flex-horizontal">
      <div class="social-media-icon facebook">
        <a href="https://www.facebook.com/suscom.apu" target="_blank" rel="noopener noreferrer" class="fa fa-facebook"></a>
      </div>
      <div class="social-media-icon twitter">
        <a href="https://twitter.com/ApuSuscom" target="_blank" rel="noopener noreferrer" class="fa fa-twitter"></a>
      </div>
      <div class="social-media-icon instagram">
        <a href="https://www.instagram.com/suscom_apu" target="_blank" rel="noopener noreferrer" class="fa fa-instagram"></a>
      </div>
      <div class="social-media-icon linkedin">
        <a href="https://www.linkedin.com/in/suscom-apu-511904211" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
      </div>
  </section>

  <footer>
    <ul class="flex-horizontal flex-group-list">
      <li class="footer-item flex-text-item">&#169;2021</li>
    </ul>
  </footer>
</body>

</html>
