<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!--link rel="manifest" href="site.webmanifest"-->
    <!--link rel="apple-touch-icon" href="icon.png"-->
    <!-- Place favicon.ico in the root directory -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <meta name="theme-color" content="#fafafa">
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Add your site or application content here -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  
    <div class="action-box">
        <div class="box-section">
            <div class="title-bar flex-horizontal">
                <div class="home">
                    <a href="/" class="logo" >
                      <img class="logo" id="logo" src="https://picsum.photos/200">
                    </a>
                </div>
                <h1 class="title"><a href="/">Suslab</a></h1>
            </div>
            <h5 class="subtitle flex-horizontal">{% block tagline %}{% endblock %}</h5>
        </div>
        <div class="box-section">
            {% block formarea %}{% endblock %}</div>
        <div class="box-section">
            <div class="form-register flex-horizontal">
                {% block altlogin %}{% endblock %}
            </div>
        </div>
    </div>
  

  {% block body %}{% endblock %}
</body>

</html>