{% extends 'base.html' %}

{% block title %}
SusLab
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"
{% endblock %}

{% block body %}
<div class="container background">
    <section class="window window-top"><!--This is a window view--></section>

    <main class="app-section">
        <div class="card card-app-icon">Exchange: Swap Shop</div>
        <div class="card card-app-icon"><a href="/library/">Exchange: Things Library</a></div>
        <div class="card card-description">
            <h2>Things Library</h2>
            <p>A university things library.</p>
        </div>
        <div class="card-spacer"></div>
    </main>

    <section class="window window-bottom"><!--This is a window view--></section>
</div>
{% endblock %}