{% extends 'base.html' %}

{% block title %}
SusLab
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/index_slider.js') }}"></script>

<div class="background">
    <ul class="slideshow">
        <li><span><!--Image 1--></span></li>
        <li><span><!--Image 2--></span></li>
        <li><span><!--Image 3--></span></li>
    </ul>
    <section class="window window-top">
        <div class="next-section">
            <a href="#app-section">
                <div class="arrow next-section-arrow" id="arrow1"></div>
                <div class="arrow next-section-arrow" id="arrow2"></div>
            </a>
        </div>
    </section>

    <main class="app-section" id="app-section">
        <div class="container">
            <div class="row">
                <div class="four columns app-component">
                    <div class="card">
                        <h2>ExChange</h2>
                        <p>App Description</p>
                    </div>
                </div>
                <div class="four columns app-component">
                    <div class="card">
                        <h2>Sustainnovation</h2>
                        <p>App Description</p>
                    </div>
                </div>
                <div class="four columns app-component">
                    <div class="card">
                        <h2>Sus Shop</h2>
                        <p>App Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="four columns app-component">
                    <div class="card">
                        <h2>SLC</h2>
                        <p>App Description</p>
                    </div>
                </div>
                <div class="four columns app-component">
                    <div class="card">
                        <h2>Pool Spots</h2>
                        <p>App Description</p>
                    </div>
                </div>
                <div class="four columns app-component">
                    <div class="card">
                        <h2>ReStore</h2>
                        <p>App Description</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section class="window window-bottom" id="footer"><!--This is a window view--></section>
</div>
{% endblock %}