{% extends 'base.html' %}

{% block title %}
SusLab
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"
{% endblock %}

{% block body %}
<div class="container background">
    <section class="window window-top"><!--This is a window view--></section>

    <main class="app-section">
        <div class="card card-app-icon">Exchange: Swap Shop</div>
        <div class="card card-app-icon">Exchange: Things Library</div>
        <div class="card card-description">
            <h2>Things Library</h2>
            <p>A university things library.</p>
        </div>
        <div class="card-spacer"></div>
    </main>
</div>

<h1 style="text-align:center">SusLab</h1>

<table class="center">
    <tr>
        <td><a href="/library">ExChange: Things Library</a></td>
        <td>ExChange: Swap Shop</td>
        <td>Sustainnovation</td>
    </tr>
    <tr>
        <td>SusShop</td>
        <td>SLC</td>
        <td>Pool Sports</td>
    </tr>
    <tr>
        <td>ReStore: Mending</td>
        <td>ReStore: Recycling</td>
        <td>Restore: Cleanup Drives</td>
    </tr>
</table>
{% endblock %}