{% extends 'form_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/security/login.css') }}">
{% endblock %}

{%block formerrors %}
{% include "security/_messages.html" %}
{% if login_user_form.errors %}
    <div class="form-errors flex-horizontal">
        {% for field in login_user_form.errors %}
            {% for error in login_user_form[field].errors %}
                <h6>{{ error }}</h6>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{%block formarea %}
<form class="login-form flex-horizontal" action="{{ url_for_security('login') }}" method="POST" name="login_user_form" autocomplete="off">
    <div class="form-fields flex-horizontal">
        {{ login_user_form.hidden_tag() }}
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Email Address:" required="">
        <label for="password">Password</label>
        <div class="password-field">
            <input type="password" name="password" id="password" placeholder="Password:" required="">
            <i class="fa fa-eye toggle-password"></i>
        </div>
    </div>
    <div class="form-links flex-horizontal">
        <div class="remember-field flex-horizontal">
            <label for="remember">Remember Me</label>
            <input type="checkbox" name="remember" id="remember" value="y">
        </div>
        <div class="forgot-field flex-horizontal">
            <a href="/login" id="forgot-password">Forgot Password?</a>
        </div>
    </div>
    <input type="submit" class="button-primary" value="Login">
</form>
{% endblock %}

{% block altlogin %}
<a class="button" href="/register">New to SusLab? Create An Account.</a>
{% endblock %}